<div class="app-container">
  <form class="example-form">
    <span class="search-label">Coutry Name:</span>
    <mat-form-field class="example-full-width">
      <input type="text" matInput [formControl]="coutryName" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.Country">
          {{option.Country}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="searchBtn" (click)="doSearch()">Search</button>
  </form>

  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      </div>
    </div>

    <div class="example-table-container">
      <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created" matSortDisableClear
        matSortDirection="desc">
        <!-- Country Column -->
        <ng-container matColumnDef="Country">
          <th mat-header-cell *matHeaderCellDef>Country</th>
          <td mat-cell *matCellDef="let row">{{row.Country}}</td>
        </ng-container>

        <!-- CountryCode Column -->
        <ng-container matColumnDef="CountryCode">
          <th mat-header-cell *matHeaderCellDef>CountryCode</th>
          <td mat-cell *matCellDef="let row">{{row.CountryCode}}</td>
        </ng-container>

        <!-- Cases Column -->
        <ng-container matColumnDef="Cases">
          <th mat-header-cell *matHeaderCellDef>Cases</th>
          <td mat-cell *matCellDef="let row">{{row.Cases}}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Status
          </th>
          <td mat-cell *matCellDef="let row">{{row.Status}}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Date
          </th>
          <td mat-cell *matCellDef="let row">{{row.Date | date}}</td>
        </ng-container>

        <!-- Nodata style -->
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef>
            No Record found
          </mat-footer-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(data.length==0)}"></mat-footer-row>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
  </div>

</div>